// 常用背景颜色
$bg-white: #ffffff;
$bg-light: #eaebf0;
$bg-grey: #f0f2f5;
$bg-primary: #409EFF;
$bg-success: #67C23A;
$bg-warn: #ff9900;
$bg-error: #F56C6C;
$bg-info: #909399;
$img-bg-color: #F6F6F6;
$table-bg-color: #F2F5F8;

// 页面顶部
$header-bg-color: #437BEE;
$logo-color: #bfcbd9;

// 侧边栏
$aside-bg-color: #fff;
$aside-foot-hover: #437BEE;
$aside-border-color: #e0e0e0;
$aside-first-menu : #fafafa;
$aside-second-menu : #e6f1fe;

// 常用字体颜色
$fc-white: #ffffff;
$fc-light: #f0f8ff;
$fc-default: #101010;
$fc-dark: #333333;
$fc-darker: #4E5056;
$placeholder: #C0C4CC;
$fc-collapse: #bfcbd9;
$fc-disabled: #bdc1c7;
$fc-link: #409EFF;

// 常用边框颜色
$br-default: #DCDFE6;
$br-primary: #E4E7ED;
$br-light: #EBEEF5;
$border-label: #36a3f7;

// icon 颜色
$icon-user: #40c9c6;
$icon-message: #36a3f7;
$icon-purchase: #f4516c;
$icon-cart: #34bfa3;

// 主题色
$color-theme: #437BEE;